/* Base */

$color-soft-blue: hsl(231, 69%, 60%);
$color-soft-red: hsl(0, 94%, 66%);
$color-gray-blue: hsl(229, 8%, 60%);
$color-dark-blue: hsl(229, 31%, 21%);
$color-white: rgb(240, 240, 240);

$font-primary: Rubik;
$font-fallback: sans-serif;

$bp-mobile: 640px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-big-desktop: 1280px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary, $font-fallback;
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $color-dark-blue;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}