/* Header */

.header {
  padding: 3rem 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin: 0 2rem;
  }

  .nav__link {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      color: $color-soft-red;
    }
  }
}

/* Section Hero */

.hero {
  padding: 3rem 0;
  min-height: calc(100vh - 10.6rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__content {
    padding: 0 2rem;
    width: 60rem;

    &-text {
      margin: 3rem 0;
    }

    &-cta a:nth-child(1) {
      margin-right: 2rem;
    }
  }


  &__img {
    width: 50%;
    position: relative;
    z-index: -100;

    &::after {
      content: "";
      display: block;
      background: $color-soft-blue;
      height: 70%;
      width: 70%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      border-top-left-radius: 35%;
      border-bottom-left-radius: 35%;
    }
  }

}

/* Features Section */

.features {
  padding: 3rem 0;

  &__content {
    width: 800px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;

    &-text {
      margin: 2rem auto;
      margin-bottom: 5rem;
      width: 70%;
    }

    &-links {
      // padding: 2rem 0;
      display: flex;
      justify-content: space-around;
      border-bottom: $color-gray-blue 1px solid;
      margin-bottom: 3rem;


      .active {
        color: $color-dark-blue;
        border-bottom: $color-soft-red 3px solid;
      }

      a {
        display: inline-block;
        color: $color-gray-blue;
        width: 33.3%;
        height: 100%;
        padding: 2rem 0;
      }

      a:hover {
        color: $color-dark-blue;
      }
    }
  }

  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;



    &-img {
      padding: 5rem;
      width: 50%;
      position: relative;
      z-index: -100;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        max-width: 80%;

      }

      &::after {
        content: "";
        display: block;
        background: $color-soft-blue;
        height: 65%;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-top-right-radius: 35%;
        border-bottom-right-radius: 35%;
      }
    }

    &-content {
      width: 40%;
      max-width: 60rem;

      &-text {
        margin: 3rem 0;
        max-width: 40rem;
      }
    }

  }
}